# macOS
.DS_Store

# Xcode User Data
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Xcode Build Products
DerivedData/
Build/

# Our custom build product. We don't want to commit the compiled plugin.
TeX.ideplugin

# Release Archives
# Ignore the .zip files we create for GitHub Releases.
TeX-Colorization-for-Xcode-v*
*.zip